<h2>piper</h2>
<br>
<p>Exemplo de pipe</p>
<p>Data</p>
<p>{{ data | date:'dd/MM/yyyy'}}</p>
<br>
<h2>ng-content</h2>
<br>
<ng-content select="selector"></ng-content>
<br>
<hr>
<h2>ng-template</h2>
<br>
<ng-template ngFor let-item [ngForOf]="lista">
    <p>{{ item.nome }}</p>
</ng-template>
<hr>
<br>
<div *ngIf="nome != 'Vicente'">
    <h2>[ngModel]</h2>
</div>
<input type="text" [(ngModel)]="nome">
<br> {{ nome }}
<br>
<button (click)="salvar()">Salvar</button>
<li *ngFor="let item of lista">{{ item.nome }}</li>
<br>
<hr>
<h2>[ngClass]</h2>
<p [ngClass]="{'ativo': valor, 'desativo': !valor}">Cor</p>
<hr>
<br>
<h2>[ngClass]</h2>
<br>
<p [ngStyle]="{'height': heightPx, 'background': backgroundColor}">ngStyle</p>
<br>
<hr>
