<h2>Interpolation</h2>

<p>{{ nome }} têm {{ idade }} anos!</p>
<p>{{ nome }} têm mais de 28 anos?</p>
<p>{{ idade > 28}}</p>
<p>Quanto é {{ idade }} + {{ maisUm }}?</p>

<hr>
<h2>Property Binding</h2>
<button disabled="true">Button</button>
<br>
<button [disabled]="checkedDisabled">Button</button>
<br>
<img [src]="imgSrc" [alt]="imgAlt" />

<hr>

<h2>Event Binding</h2>
<br>
<button (click)="alertInfoSimples()">Evento</button>
<br>
<button (click)="alertInfoSimplesDois('Deu bom de forma diferente!')">Evento 2</button>
<br>
<button (click)="alertInfoEvento($event)">Evento 3</button>
<br>
<div (mousemove)="mouseMoveMudandoCor($event)" style="background-color: tomato; width: 300px; height: 300px;">
</div>
<p>{{ position.x }}</p>
<p>{{ position.y }}</p>
<br>
<h2>Two-way binding</h2>
<input [(ngModel)]="nome"> {{ nome }}