<h2>*ngIf</h2>
<p *ngIf="true">Verdadeiro</p>
<p *ngIf="condition">Condition</p>
<p *ngIf="condition; else elseBlock">elseBlock</p>
<ng-template #elseBlock>
    <p>False</p>
</ng-template>
<hr>
<p *ngIf="conditionClick">Verdadeiro</p>
<p *ngIf="!conditionClick">Falso</p>
<button (click)="onClick()">Click</button>
<hr>
<h2>*ngFor</h2>
<ul>
    <li *ngFor="let item of lista; let i = index;" (click)="onClickEventList(i)">
        [{{ i }}] {{ item.nome }}. Idade = {{ item.idade }}
    </li>
</ul>
<button (click)="onClickAdicionarLista()">Adicionar</button>
<br>
<hr>
<h2>*ngSwitch</h2>
<input type="text" [(ngModel)]="nome">
<div [ngSwitch]="nome">
    <p *ngSwitchCase="'vicente'">Vicente</p>
    <p *ngSwitchCase="'teixeira'">Teixeira</p>
    <p *ngSwitchDefault="'freitas'">Freitas</p>
</div>
